<section id="about-us" class="about-us-section">
    <div class="container">
      <p>
        Chez <strong>CleanDar</strong>, nous croyons en la création d'un environnement de vie plus propre et plus sain pour tous. Fondée avec la mission de fournir des services de nettoyage à domicile de qualité, notre équipe s'engage à offrir des solutions pratiques, rapides et fiables. Avec des professionnels qualifiés et une couverture dans plus de cinq villes au Maroc, nous assurons des prestations sécurisées et conformes aux normes les plus strictes. Notre objectif est de rendre votre quotidien plus simple en vous garantissant un service à la fois efficace et abordable.
      </p>
    </div>
  </section>
  