<nav class="navbar">
  <div class="logo">
    <img src="logo.png" alt="Logo">
    <span>CleanDar</span>
  </div>
  <div class="menu" id="navbarMenu">
    <a href="#">Accueil</a>
    <a href="#">Qui sommes-nous</a>
    <a href="#">Services</a>
    <a [routerLink]="['/add-reservation']">Pack</a>
    <a href="#">Blog</a>
    <a href="#">FAQ</a>
    <a href="#">Parrainage</a>
    <a href="register">Inscription</a>
    <a href="login" class="btn-connect">Se connecter</a>
  </div>
  <button class="hamburger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </button>
</nav>

<div class="reservation-list">
  <h2>Mes Réservations</h2>

  <div class="card-container">
    <div class="card" *ngFor="let reservation of reservations">
      <img [src]="reservation.image" alt="Image de la réservation" class="card-image" />
      <div class="card-content">
        <h3>Réservation ID: {{ reservation.id }}</h3>
        <p>Date Début: {{ reservation.dateDebut }}</p>
        <p>Date Fin: {{ reservation.dateFin }}</p>
        <p>ID du Pack: {{ reservation.packId }}</p>
        <div class="card-actions">
          <button (click)="editReservation(reservation.id)">Modifier</button>
           <button (click)="deleteReservation(reservation.id)" class="btn-delete">Supprimer</button>

        </div>
      </div>
    </div>
  </div>

  <div *ngIf="reservations.length === 0">
    <p>Aucune réservation trouvée.</p>
  </div>
</div>
