/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Navbar */
.navbar {
  background-color: white;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  position: relative;

  .logo {
    display: flex;
    align-items: center;

    img {
      height: 40px;
      margin-right: 10px;
    }

    span {
      font-size: 24px;
      font-weight: bold;
      color: #57A0E2;
    }
  }

  .menu {
    display: flex;
    align-items: center;

    a {
      color: #333;
      text-decoration: none;
      margin: 0 15px;
      font-size: 16px;
      transition: color 0.3s ease;

      &:hover {
        color: #57A0E2;
      }
    }

    .btn-connect {
      background-color: transparent;
      border: 1px solid #57A0E2;
      padding: 5px 10px;
      border-radius: 4px;
      color: #57A0E2;

      &:hover {
        background-color: #57A0E2;
        color: white;
      }
    }
  }

  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;

    span {
      height: 3px;
      width: 25px;
      background-color: #333;
      margin: 3px 0;
    }
  }

  @media (max-width: 768px) {
    .menu {
      display: none; /* Cacher le menu sur les petits écrans */
      flex-direction: column;
      position: absolute;
      top: 60px; /* Ajuster en fonction de la hauteur de la barre de navigation */
      right: 0;
      background-color: white; /* Garder la couleur d'origine */
      width: 100%;
      z-index: 1; /* S'assurer que le menu est au-dessus des autres éléments */

      a {
        margin: 10px 0; /* Ajuster l'espacement pour les petits écrans */
        padding: 10px 15px;
      }
    }

    .hamburger {
      display: flex; /* Afficher le hamburger sur les petits écrans */
    }

    .active {
      display: flex; /* Afficher le menu lorsque le hamburger est cliqué */
    }
  }
}
