<form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="nom">Nom du service</label>
    <input id="nom" formControlName="nom" required />
  </div>

  <div>
    <label for="description">Description</label>
    <textarea id="description" formControlName="description" required></textarea>
  </div>

  <div>
    <label for="prix">Prix</label>
    <input id="prix" type="number" formControlName="prix" required />
  </div>

  <div>
    <label for="image">Image</label>
    <input id="image" type="file" (change)="onFileSelected($event, 'image')" required />
  </div>

  <div>
    <label for="packId">Sélectionner un pack</label>
    <select id="packId" formControlName="pack_id" required>
      <option *ngFor="let pack of pack" [value]="pack.id">{{ pack.id }}</option>
    </select>
  </div>

  <button type="submit" [disabled]="submitted">Ajouter le service</button>
</form>
