<ng-container *ngIf="role === 'ADMIN'">
  <button class="learn-more-btn-admin" (click)="Ajouter()">Ajouter</button>
</ng-container>
<div class="pack-container">
  <div (click)="toServiceList(pack.id)" class="pack-card" *ngFor="let pack of packs">
    <img class="pack-image" [src]="pack.image" alt="">
    <h3>{{ pack.titre }}</h3>
    <p>{{ pack.description }}</p>
    <div class="pack-footer">
      <span class="pack-price">{{ pack.prixTotal }} MAD</span>

      <ng-container *ngIf="role === 'ADMIN'">
        <button class="learn-more-btn" (click)="deletePack(pack.id)"><i class="material-icons">delete</i></button>
        <button class="learn-more-btn" (click)="editePack(pack.id)"><i class="material-icons">edite</i></button>
      </ng-container>

      <!-- Bouton de réservation pour les utilisateurs -->
      <ng-container *ngIf="role === 'USER'">
        <button class="learn-more-btn" (click)="ajouterReservation(pack.id)">Ajouter une réservation</button>
      </ng-container>
    </div>
  </div>
</div>
