// Style pour le conteneur de packs
.pack-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

// Style pour chaque carte de pack
.pack-card {
  background-color: #fff; // Couleur de fond de la carte
  border-radius: 10px; // Coins arrondis
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Ombre légère
  margin: 15px; // Marge autour de la carte
  width: 250px; // Largeur de la carte
  padding: 15px; // Espacement interne
  text-align: center; // Alignement du texte
  transition: transform 0.2s ease-in-out; // Transition pour l'effet de survol

  &:hover {
    cursor: pointer;
    transform: translateY(-5px); // Effet de déplacement au survol
  }

  h3 {
    font-size: 1.2rem; // Taille de police pour le titre
    margin: 10px 0; // Marge autour du titre
    color: #0044cc; // Couleur du titre
  }

  p {
    font-size: 0.9rem; // Taille de police pour la description
    color: #666; // Couleur de la description
  }

  .pack-footer {
    display: flex; // Flexbox pour aligner les éléments
    justify-content: space-between; // Espace entre les éléments
    align-items: center; // Alignement vertical
    margin-top: 10px; // Marge au-dessus du pied de carte

    .pack-price {
      font-weight: bold; // Poids du texte en gras
      color: #28a745; // Couleur pour le prix
    }

    .learn-more-btn {
      background-color: #57A0E2; // Couleur de fond du bouton
      border: none; // Pas de bordure
      border-radius: 5px; // Coins arrondis
      padding: 8px 12px; // Espacement interne
      font-size: 0.9rem; // Taille de police
      color: #fff; // Couleur du texte
      cursor: pointer; // Curseur en mode pointer
      transition: background-color 0.3s; // Transition pour le changement de couleur

      &:hover {
        background-color: #f39c12; // Couleur de fond au survol
      }
    }
  }
}

// Style pour l'image du pack
.pack-image {
  width: 100%; // Largeur à 100%
  height: 150px; // Hauteur fixe
  object-fit: cover; // Ajustement de l'image
  border-radius: 10px; // Coins arrondis
}

.learn-more-btn-admin {
  background-color: #57A0E2;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #f39c12;
  }
  .card-link {
    text-decoration: none; // Supprime le soulignement
    color: inherit; // Hérite de la couleur du texte parent
    display: block; // Permet au lien de prendre tout l'espace de la carte
  }
  
}


