<p>update-reservation works!</p>
<form (ngSubmit)="updateReservation()">
    <label for="dateDebut">Date de début :</label>
    <input type="date" [(ngModel)]="reservation.dateDebut" name="dateDebut" required />
  
    <label for="dateFin">Date de fin :</label>
    <input type="date" [(ngModel)]="reservation.dateFin" name="dateFin" required />
  
    <label for="packId">ID du Pack :</label>
    <input type="number" [(ngModel)]="reservation.packId" name="packId" />
  
    <div *ngIf="dateError" class="error-message">
      {{ dateError }}
    </div>
  
    <button type="submit">Mettre à jour la réservation</button>
  </form>
  