<div class="container">
  <h2>Modifier la Réservation</h2>
  <form (ngSubmit)="updateReservation()">
    <div class="form-group">
      <label for="dateDebut">Date de Début:</label>
      <input type="date" id="dateDebut" [(ngModel)]="reservation.dateDebut" name="dateDebut" required class="form-control" />
    </div>

    <div class="form-group">
      <label for="dateFin">Date de Fin:</label>
      <input type="date" id="dateFin" [(ngModel)]="reservation.dateFin" name="dateFin" required class="form-control" />
    </div>

    <div class="form-group">
      <label for="packId">ID du Pack:</label>
      <input type="number" id="packId" [(ngModel)]="reservation.packId" name="packId" required class="form-control" />
    </div>

    <div class="form-group">
      <label for="utilisateurId">ID de l'Utilisateur:</label>
      <input type="number" id="utilisateurId" [(ngModel)]="reservation.utilisateurId" name="utilisateurId" required class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Mettre à jour la réservation</button>
  </form>
  <a routerLink="/reservations" class="btn btn-secondary mt-3">Annuler</a>
</div>
