.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #57A0E2;
  }

  .form-group {
    margin-bottom: 15px;

    label {
      font-weight: bold;
      margin-bottom: 5px;
      display: block;
      color: #555;
    }

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;

      &:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        outline: none;
      }
    }
  }

  .btn {
    display: block; /* Chaque bouton sur une nouvelle ligne */
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 15px; /* Ajouter un espace entre les boutons */

    &.btn-primary {
      background-color: #007bff;
      color: white;

      &:hover {
        background-color: #0056b3;
      }
    }

    &.btn-secondary {
      background-color: #e74c3c;
      color: white;
      margin-top: 0; /* Supprimer le margin-top */
      &:hover {
        background-color: #c0392b;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 15px;

    h2 {
      font-size: 20px;
    }

    .btn {
      font-size: 14px;
    }
  }

  @media (max-width: 576px) {
    .form-group {
      input {
        padding: 8px;
        font-size: 14px;
      }
    }
  }
}
