
<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()" class="reservation-form">
  <div class="form-container">
    <h2 class="form-title">Ajouter une Réservation</h2>
    
    <div class="input-group">
      <label for="dateDebut">Date de Début*</label>
      <div class="input-wrapper">
        <i class="fas fa-calendar-alt"></i>
        <input id="dateDebut" formControlName="dateDebut" type="date" placeholder="jj/mm/aaaa">
      </div>
      <div class="error-message" *ngIf="reservationForm.get('dateDebut')?.hasError('required')">
        La date de début est requise.
      </div>
    </div>
    
    <div class="input-group">
      <label for="dateFin">Date de Fin*</label>
      <div class="input-wrapper">
        <i class="fas fa-calendar-alt"></i>
        <input id="dateFin" formControlName="dateFin" type="date" placeholder="jj/mm/aaaa">
      </div>
      <div class="error-message" *ngIf="reservationForm.get('dateFin')?.hasError('required')">
        La date de fin est requise.
      </div>
    </div>

    <div class="input-group">
      
      
      <div class="error-message" *ngIf="reservationForm.get('packId')?.hasError('required')">
        L'ID du pack est requis.
      </div>
    </div>

    <div class="button-group">
      <button type="submit" class="submit-btn" [disabled]="reservationForm.invalid">Ajouter Réservation</button>
      <button type="button" class="cancel-btn" (click)="router.navigate(['/pack-list'])">Annuler</button>
    </div>
  </div>
</form>
